 
  <nav>
    <div class="site-title">
      <a href="/"><h1>Message App</h1></a>
      <p>A Messaging App</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create">New message</a></li>
    </ul>
  </nav>